<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>People</h2>
          </div>
          <div class="col-sm-6">
            <a *ngIf="isTableShown" class="btn btn-success" (click)="isClicked = true; isTableShown = false">
              <i class="material-icons">&#xE147;</i>
              <span>Add Person</span>
            </a>
            <span *ngIf="isTableShown">
              <select (change)="filterPeopleByGender($event)" name="gender"
                      class="btn btn-info" style="height: 32.91px;">
                <option value="ALL">All</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
            </span>
          </div>
        </div>
      </div>
      <br>
      <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
        <ng-container *ngSwitchCase="DATA_STATE.LOADING">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DATA_STATE.LOADED">
          <div *ngIf="isTableShown">
            <span>
              Number of records:
              <select (change)="onTableSizeChange($event)">
                <option *ngFor="let size of tableSizes">
                  {{ size }}
                </option>
              </select>
            </span>
            <br>
            <br>
            <input
              [(ngModel)]="isMasterSelected"
              type="checkbox"
              (change)="checkUncheckAll()"
              style="cursor: pointer"
            >
            &nbsp;&nbsp;&nbsp;
            <span>Select/Deselect All</span>
            &nbsp;
            @if(hasSelected()) {<button type="button" class="btn btn-danger" (click)="deletePersons(this.checkedPeople)">Delete Selection</button>}
          </div>
          <table *ngIf="isTableShown" class="table table-striped table-hover" id="days">
            <thead>
            <tr>
              <th></th>
              <th *ngFor="let header of headers">{{ header.value }}</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody *ngFor="let person of appState.appData?.data.dataRetrieved
            | paginate: {
              itemsPerPage: tableSize,
              currentPage: currentPage,
              totalItems: count
            }; let i = index;">
            <tr>
              <td>
                <input
                  [(ngModel)]="person.isSelected"
                  type="checkbox"
                  (change)="isAllSelected()"
                  style="cursor: pointer"
                ></td>
              <td><u (click)="routeToPersonDetails(person.id, person.firstName, person.secondName)" style="cursor:pointer;">{{ person.firstName }} {{ person.secondName }}</u></td>
              <td>{{ person.raceName }}</td>
              <td>{{ person.gender }}</td>
              <td>
<!--                <span>-->
<!--                  <fa-icon [icon]="faEdit"-->
<!--                           [style.color]="'blue'"-->
<!--                           [title]="'Edit'"-->
<!--                           (click)="isUpdated = true; getPersonByID(person.id); isTableShown = false;"-->
<!--                           [style.cursor]="'pointer'"></fa-icon>-->
<!--                </span>-->
                &nbsp;
                &nbsp;
                <span>
                  <fa-icon [icon]="faTrash" [title]="'Delete'" (click)="deletePerson(person)"
                           style="cursor: pointer; color: firebrick"></fa-icon>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DATA_STATE.ERROR">
          <div [hidden]="isClicked" style="background-color: indianred">{{ appState.error }}</div>
        </ng-container>
        <pagination-controls
          *ngIf="isTableShown"
          previousLabel="Previous"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </ng-container>
    </div>
  </div>
</div>

<!-- Add Person -->
<div *ngIf="isClicked" style="margin: auto; width: 50%" tabindex="-1" aria-labelledby="dayModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #personForm="ngForm" (ngSubmit)="savePerson(personForm)">
        <div class="modal-header">
          <h4 class="modal-title">Add Person</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" ngModel name="firstName" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" ngModel name="secondName" class="form-control" required>
          </div>
          <div class="row">
          </div>
          <div class="form-group">
            <label>Race</label>
            <input type="text" ngModel name="raceName" class="form-control" required>
          </div>
          <br>
          <div class="form-group">
            <label>Gender</label> &nbsp;
            <!--            <input type="radio" ngModel name="gender" value="MALE" required>Male-->
            <!--            <input type="radio" ngModel name="gender" value="FEMALE" required>Female-->
            <!--            <select name="gender" ngModel="MALE" class="form-control" required>-->
            <select name="gender" ngModel="MALE" required>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="isClicked = false; isTableShown = true">Close</button>
          <button type="submit" [disabled]="(isLoading$ | async) || personForm.invalid"
                  class="btn btn-success">
            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="isLoading$ | async">Saving...</span>
            <span *ngIf="!(isLoading$ | async)">Add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Person -->
<!--<div *ngIf="isUpdated" style="margin: auto; width: 50%" tabindex="-1" aria-labelledby="dayModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <form (ngSubmit)="modifyPerson(selectedPerson)">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title">Edit Person</h4>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="form-group">-->
<!--            <label>First Name</label>-->
<!--            <input type="text" [(ngModel)]="selectedPerson.firstName" name="firstName" class="form-control" required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label>Last Name</label>-->
<!--            <input type="text" [(ngModel)]="selectedPerson.secondName" name="secondName" class="form-control" required>-->
<!--          </div>-->
<!--          <br>-->
<!--          <div class="form-group">-->
<!--            <label>Gender</label>-->
<!--            <select name="gender" [(ngModel)]="selectedPerson.gender" required>-->
<!--              <option value="MALE">Male</option>-->
<!--              <option value="FEMALE">Female</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label>Race</label>-->
<!--            <select name="raceName" [(ngModel)]="selectedPerson.raceName" (change)="onSelectRaceHandler($event)"-->
<!--                    class="form-control" required>-->
<!--              <option *ngFor="let race of races" [value]="race.name">{{ race.name }}</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-danger" (click)="isUpdated = false; isTableShown = true;">Close</button>-->
<!--          <button type="submit" [disabled]="isLoading$ | async"-->
<!--                  class="btn btn-success">-->
<!--            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>-->
<!--            <span *ngIf="isLoading$ | async">Updating...</span>-->
<!--            <span *ngIf="!(isLoading$ | async)">Update</span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<ng-template #modalTemplate>-->
<!--  <div submitForm>-->
<!--  </div>-->
<!--</ng-template>-->
