<div class="popup {{ size }}">
  <div class="popup-header">
    {{ title }}
    <span class="popup-close" (click)="close()">✕</span>
  </div>
  <div class="popup-content">
    <ng-content select="[submitForm]"></ng-content>
  </div>
  <div class="popup-footer">
    <button type="button" class="btn btn-danger" (click)="close()">Close</button>
    <ng-content select="[formFooter]"></ng-content>
<!--    <button (click)="submit()">Submit</button>-->
  </div>
</div>

<div class="popup-backdrop" (click)="close()"></div>
