<div class="container-xl">
  <div *ngIf="showTable && (!isClicked || !isUpdated)" class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Calendar Days</h2>
          </div>
          <div class="col-sm-6">
            <!--            <button (click)="printReport()" type="button" class="btn btn-primary">Print Report</button>-->

            <!--            <a href="#addDayModal" class="btn btn-success" data-toggle="modal">-->
            <!--              <i class="material-icons">&#xE147;</i>-->
            <!--              <span>Add Day</span>-->
            <!--            </a>-->

            <!--            <button (click)="window.location.href = '#addDayModal'" class="btn btn-success" data-toggle="modal">-->
            <!--              <i class="material-icons">&#xE147;</i>-->
            <!--              <span>Add Day</span>-->
            <!--            </button>-->

            <!--            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="addDayModal">-->
            <!--              <i class="material-icons">&#xE147;</i>-->
            <!--              <span>Add Day</span>-->
            <!--            </button>-->

            <!-- Button to Open the Modal -->
            <a class="btn btn-success" data-bs-toggle="modal" (click)="isClicked = true">
              <i class="material-icons">&#xE147;</i>
              <span>Add Day</span>
            </a>

            <!--            <mat-dialog-actions>-->
            <!--              <button id="addDay" mat-raised-button style="background-color: lightgreen; color: darkslategrey" (click)="openDialog()">-->
            <!--                <i class="material-icons">&#xE147;</i>-->
            <!--                <span>Add Day</span>-->
            <!--              </button>-->
            <!--            </mat-dialog-actions>-->

            <!--            <button class="btn btn-success">-->
            <!--              <i class="material-icons">&#xE147;</i>-->
            <!--              <span>Add Day</span>-->
            <!--            </button>-->

            <!--            <span>-->
            <!--                          <select (ngModelChange)="filterServers($event)" name="status" ngModel="ALL"-->
            <!--                                  class="btn btn-info" style="height: 32.91px;">-->
            <!--                              <option value="ALL">ALL</option>-->
            <!--                              <option value="SERVER_UP">SERVER UP</option>-->
            <!--                              <option value="SERVER_DOWN">SERVER DOWN</option>-->
            <!--                          </select>-->
            <!--            </span>-->
          </div>
        </div>
      </div>
      <br>
      <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
        <ng-container *ngSwitchCase="DATA_STATE.LOADING">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DATA_STATE.LOADED">
          <table class="table table-striped table-hover" id="days">
            <thead>
            <tr>
              <th *ngFor="let header of headers">{{ header.value }}</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody *ngFor="let day of appState.appData?.data.dataRetrieved; let i = index;">
            <tr>
              <td>{{ day.name }}</td>
              <!--              <td>{{ day.dayNumber }}</td>-->
              <td>{{ day.description }}</td>
              <td>
                <span>
                  <fa-icon [icon]="faEdit"
                           [style.color]="'blue'"
                           [title]="'Edit'"
                           (click)="isUpdated = true"
                           [style.cursor]="'pointer'"></fa-icon>
                </span>
                &nbsp;
                &nbsp;
                <span>
                  <fa-icon [icon]="faTrash" [title]="'Delete'" (click)="deleteDay(day)"
                           style="cursor: pointer; color: firebrick"></fa-icon>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DATA_STATE.ERROR">
          <div style="background-color: indianred">{{ appState.appData?.issue }}</div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<!-- Add day Modal HTML -->
<!--<div id="addDayModal" class="modal fade">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <form #dayForm="ngForm" (ngSubmit)="saveDay(dayForm)">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title">Add Day</h4>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="form-group">-->
<!--            <label>Day Name</label>-->
<!--            <input type="text" ngModel name="name" class="form-control" required>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">-->
<!--              <div class="form-group">-->
<!--                <label>Day Number</label>-->
<!--                <input type="text" ngModel name="dayNumber" class="form-control" required>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">-->
<!--              <div class="form-group">-->
<!--                <label>Day Description</label>-->
<!--                <input type="text" ngModel name="description" class="form-control" required>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--&lt;!&ndash;          <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <label>Status</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <select name="status" ngModel="SERVER_DOWN" class="form-control" required>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="SERVER_UP">SERVER UP</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="SERVER_DOWN">SERVER DOWN</option>&ndash;&gt;-->
<!--&lt;!&ndash;            </select>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-warning" id="closeModal" data-dismiss="modal">-->
<!--            Cancel-->
<!--          </button>-->
<!--          <button type="submit" [disabled]="dayForm.invalid || (isLoading$ | async)"-->
<!--                  class="btn btn-success">-->
<!--            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>-->
<!--            <span *ngIf="isLoading$ | async">Saving...</span>-->
<!--            <span *ngIf="!(isLoading$ | async)">Add</span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Modal -->
<!--<div class="modal fade in" id="dayModal" tabindex="-1" aria-labelledby="dayModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <form #dayForm="ngForm" (ngSubmit)="saveDay(dayForm)">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title" id="dayModalLabel">Add Day</h4>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="form-group">-->
<!--            <label>Day Name</label>-->
<!--            <input type="text" ngModel name="name" class="form-control" required>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">-->
<!--              <div class="form-group">-->
<!--                <label>Day Number</label>-->
<!--                <input type="text" ngModel name="dayNumber" class="form-control" required>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">-->
<!--              <div class="form-group">-->
<!--                <label>Day Description</label>-->
<!--                <input type="text" ngModel name="description" class="form-control" required>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>-->
<!--          <button type="submit" [disabled]="dayForm.invalid || (isLoading$ | async)"-->
<!--                  class="btn btn-success">-->
<!--            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>-->
<!--            <span *ngIf="isLoading$ | async">Saving...</span>-->
<!--            <span *ngIf="!(isLoading$ | async)">Add</span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Add Day -->
<div *ngIf="isClicked" style="margin: auto; width: 50%" tabindex="-1" aria-labelledby="dayModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #dayForm="ngForm" (ngSubmit)="saveDay(dayForm)">
        <div class="modal-header">
          <h4 class="modal-title">Add Day</h4>
<!--          <button type="button" class="btn-close" aria-label="Close"></button>-->
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Day Name</label>
            <input type="text" ngModel name="name" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Day Number</label>
                <input type="text" ngModel name="dayNumber" class="form-control" required>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Day Description</label>
                <input type="text" ngModel name="description" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="isClicked = false; showTable = true">Close</button>
          <button type="submit" [disabled]="dayForm.invalid || (isLoading$ | async)"
                  class="btn btn-success">
            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="isLoading$ | async">Saving...</span>
            <span *ngIf="!(isLoading$ | async)">Add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Day -->
<div *ngIf="isUpdated && (appState$ | async) as appState" style="margin: auto; width: 50%" tabindex="-1" aria-labelledby="dayModalLabel" aria-hidden="true">
  <div *ngFor="let day of appState.appData?.data.dataRetrieved; let i = index" class="modal-dialog">
    <div class="modal-content">
      <form #dayForm="ngForm" (ngSubmit)="modifyDay(dayForm)">
        <div class="modal-header">
          <h4 class="modal-title">Edit Day</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Day Name</label>
            <input type="text" [(ngModel)]="appState.appData?.data.dataRetrieved[i].name" name="name" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Day Number</label>
                <input type="text" [(ngModel)]="appState.appData?.data.dataRetrieved[i].dayNumber" name="dayNumber" class="form-control" required>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Day Description</label>
                <input type="text" [(ngModel)]="appState.appData?.data.dataRetrieved[i].description" name="description" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="isUpdated = false; showTable = true">Close</button>
          <button type="submit" [disabled]="isLoading$ | async"
                  class="btn btn-success">
            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="isLoading$ | async">Updating...</span>
            <span *ngIf="!(isLoading$ | async)">Update</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--<notifier-container></notifier-container>-->

