<div *ngIf="!isEditing" class="display-container">
  <div class="image-container">
<!--    <img src="https://via.placeholder.com/300x400" alt="Person Image" />-->
    <img [src]="selectedPersonDetails.imageURL" alt="Person Image" />
    @if(selectedPersonDetails.imageURL.split("/")[selectedPersonDetails.imageURL.split("/").length - 1] === "default.png") {
      <h3 style="text-align: center">Default Image</h3>
    }
</div>

  <div class="details-container">
    <h2>
      <fa-icon [icon]="faCircleArrowLeft"
               [style.color]="'red'"
               [title]="'Return to People'"
               (click)="routeToPeople()"
               [style.cursor]="'pointer'">
      </fa-icon>
      <b>
        {{ selectedPersonDetails.firstName.toUpperCase() }} {{ selectedPersonDetails.secondName.toUpperCase() }} @if(selectedPersonDetails.epithet !== "None") { {{ selectedPersonDetails.epithet }} }
      </b>
      &nbsp;
      <span style="float: right">
                  <fa-icon [icon]="faEdit"
                           [style.color]="'blue'"
                           [title]="'Edit Personal Details'"
                           (click)="isEditing = true;"
                           [style.cursor]="'pointer'">
                  </fa-icon>
                  &nbsp;
                  <fa-icon [icon]="faTrash"
                           [title]="'Delete Person'"
                           (click)="deletePersonDetails(selectedPersonDetails.id)"
                           style="cursor: pointer; color: firebrick">
                  </fa-icon>
      </span>
    </h2>

    <mat-divider></mat-divider>

    <div class="detail-item">
      <strong>Gender:</strong> {{ selectedPersonDetails.gender }}
    </div>

    <div class="detail-item">
      <strong>Race:</strong> {{ selectedPersonDetails.raceName || 'N/A' }}
    </div>

    <div class="detail-item">
      <strong>Religion:</strong> {{ selectedPersonDetails.religion || 'N/A' }}
    </div>

    @if(selectedPersonDetails.rank !== 'None') {
      <div class="detail-item">
        <strong>Militaristic Rank:</strong> {{ selectedPersonDetails.rank || 'N/A' }}
      </div>
    }

    <div class="detail-item">
      <strong>Nation:</strong> {{ selectedPersonDetails.nation || 'N/A' }}
    </div>

    <div class="detail-item">
      <strong>Age:</strong>
      {{ selectedPersonDetails.age }}
    </div>

    <div class="detail-item">
      <strong>Birth Date:</strong>
      {{ selectedPersonDetails.birthDay }}/{{ selectedPersonDetails.birthMonth }}/{{ selectedPersonDetails.birthYear }} {{ selectedPersonDetails.birthYearAbbreviation }}
    </div>

    @if(selectedPersonDetails.deathDay === 0 ||
    selectedPersonDetails.deathMonth === 0 ||
    selectedPersonDetails.deathYear === 0) {
      <div class="detail-item">
        <strong>Death Date:</strong>
        Alive
      </div>
    } @else {
      <div class="detail-item">
        <strong>Death Date:</strong>
        {{ selectedPersonDetails.deathDay }}/{{ selectedPersonDetails.deathMonth }}/{{ selectedPersonDetails.deathYear }} {{ selectedPersonDetails.deathYearAbbreviation }}
      </div>
    }

<!--    <div class="detail-item">-->
<!--      <strong>Calendar System:</strong> {{ personDetails.value.data?.datumRetrieved?.calendarSystem || 'N/A' }}-->
<!--    </div>-->

    <div class="detail-item">
      <strong>Job:</strong> {{ selectedPersonDetails.job || 'N/A' }}
    </div>

<!--    <div class="detail-item">-->
<!--      <strong>Epithet:</strong> {{ personDetails.value.data?.datumRetrieved?.epithet || 'N/A' }}-->
<!--    </div>-->

    <div class="detail-item">
      <strong>Lineage:</strong> {{ selectedPersonDetails.lineage }}
    </div>

    <div class="detail-item">
      <strong>Marital Status:</strong> {{ selectedPersonDetails.maritalStatus }}
    </div>
  </div>
</div>

@if (isEditing) {
  <app-person-details-edit (isEditing)="closeEditing($event)" [personDetails]="selectedPersonDetails"></app-person-details-edit>
}

@if(isEditing) {
  <hr>
}
@else if (isBiography) {
  <app-person-details-biography (isBiography)="closeBiographyEditing($event)" [personDetails]="selectedPersonDetails"></app-person-details-biography>
} @else {
  <h2>
    Biography
    <fa-icon [icon]="faEdit"
             [style.color]="'cornflowerblue'"
             [title]="'Edit Biography'"
             (click)="isBiography = !isBiography;"
             [style.cursor]="'pointer'">
    </fa-icon>
  </h2>
  <hr>
  <div [innerHTML]="selectedPersonDetails.biography"></div>
}

<!--@if(isFamilyTree) {-->
<!--  <app-family-tree [familyNode]="family"></app-family-tree>-->
<!--}-->
