<div *ngIf="!isEditing" class="display-container">
  <div class="image-container">
    <!--    <img src="https://via.placeholder.com/300x400" alt="Person Image" />-->
    <img [src]="selectedRace.imageURL" alt="Racial Image" />
    @if(selectedRace.imageURL.split("/")[selectedRace.imageURL.split("/").length - 1] === "default.png") {
      <h3 style="text-align: center">Default Image</h3>
    }
  </div>
  <div class="details-container">
    <h2>
      <fa-icon [icon]="faCircleArrowLeft"
               [style.color]="'red'"
               [title]="'Return to Races'"
               (click)="routeToRaces()"
               [style.cursor]="'pointer'">
      </fa-icon>
      Race:
      <b>
        {{ selectedRace.name }}
      </b>
      &nbsp;
      <span style="float: right">
                  <fa-icon [icon]="faEdit"
                           [style.color]="'blue'"
                           [title]="'Edit Name'"
                           (click)="isEditing = true; routeToRaceEdit(raceID, raceName)"
                           [style.cursor]="'pointer'">
                  </fa-icon>
                  &nbsp;
                  <fa-icon [icon]="faTrash"
                           [title]="'Delete Race'"
                           (click)="deleteRace(selectedRace.id)"
                           style="cursor: pointer; color: firebrick">
                  </fa-icon>
      </span>
    </h2>
    <mat-divider></mat-divider>
    <div class="detail-item">
      <strong>Lifespan:</strong> {{ selectedRace.minimumLifespan }} @if(selectedRace.maximumLifespan !== 0 || selectedRace.maximumLifespan === null || selectedRace.maximumLifespan === undefined) {- {{ selectedRace.maximumLifespan }} } years
    </div>
    <button style="float: right" class="stylized-button" (click)="routeToSubRaces(selectedRace.id, selectedRace.name)">
      <i class="fas fa-users"></i> Sub-races
    </button>
  </div>
</div>

@if(isEditing) {
  <app-race-display-edit (isEditingRace)="closeEditing($event)"></app-race-display-edit>
} @else {
  @if(isDescription) {
    <h2>Description</h2>
    <hr>
    <st-editor [(ngModel)]="selectedRace.description" [config]="config"></st-editor>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="isDescription = false">Close Description</button>
      <button type="button" class="btn btn-success" (click)="updateDescription()">Save Description</button>
    </div>
  } @else {
    <h2>
      Description
      <fa-icon [icon]="faEdit"
               [style.color]="'cornflowerblue'"
               [title]="'Edit Description'"
               (click)="isDescription = !isDescription;"
               [style.cursor]="'pointer'">
      </fa-icon>
    </h2>
    <hr>
    <div [innerHTML]="selectedRace.description"></div>
  }
}

