/*.member {*/
/*  border: 1px solid black;*/
/*  margin: 10px;*/
/*  padding: 10px;*/
/*  display: inline-block;*/
/*}*/

/*.member-node {*/
/*  border: 1px solid #ccc;*/
/*  padding: 10px;*/
/*  margin: 5px;*/
/*  border-radius: 5px;*/
/*}*/
/*.parents, .spouses, .children {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.family-tree-balkan {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/
/*.generation {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  width: 100%;*/
/*}*/
/*.current {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
/*.member-node {*/
/*  border: 1px solid #ccc;*/
/*  padding: 10px;*/
/*  margin: 5px;*/
/*  border-radius: 5px;*/
/*  min-width: 200px;*/
/*}*/
/*.spouses {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*}*/
/*button {*/
/*  margin: 2px;*/
/*  padding: 5px;*/
/*  font-size: 0.8em;*/
/*}*/

.family-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.generation {
  display: flex;
  justify-content: center;
  width: 100%;
}
.current {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.siblings-and-spouses {
  display: flex;
  flex-direction: column;
}
.spouses, .siblings {
  display: flex;
  flex-direction: row;
}
.member-node {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  min-width: 200px;
}
button {
  margin: 2px;
  padding: 5px;
  font-size: 0.8em;
}
