/*@import '../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';*/
.sidenav-header {
  padding-top: 24px;
  text-align: center;

  >img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .header-text {

    >h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    >p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.hide-header-text {
  opacity: 0;
  height: 0px;
}

.cdk-drag-preview {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}
