<div class="sidenav-header">
  <img [width]="profilePictureSize()"
       [height]="profilePictureSize()" style="background-color: cornflowerblue" src="assets/images/anvil.png" alt="Image Logo">
  <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
    <h2>The Testament: Veltahleon</h2>
    <p>Created by <i>Shieth</i></p>
  </div>
</div>
<mat-nav-list cdkDropList (cdkDropListDropped)="drop($event)">
  <a mat-list-item *ngFor="let item of menuItems()"
     [routerLink]="item.route"
     cdkDrag
     routerLinkActive
     #link="routerLinkActive"
     [activated]="link.isActive">
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle *ngIf="!sidenavCollapsed()">{{ item.label }}</span>
  </a>
</mat-nav-list>

