<button type="button" style="float: right" class="btn btn-success" (click)="saveFamilialTree()">Save Tree</button>
<div *ngIf="+communitySize <= 0" class="modal-container">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #personForm="ngForm" (ngSubmit)="onSubmit(personForm)">
        <div class="modal-header">
          <h4 class="modal-title">Create Starting/Root Person</h4>
          <button type="button" class="close-button" (click)="routeToCommunityDescription(communityID, communityName)">×</button>
        </div>
        <br>
        <div class="modal-body">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" ngModel name="firstName" class="form-input" placeholder="Enter First Name" required>
          </div>
          <div class="form-group">
            <label for="secondName">Last Name</label>
            <input type="text" id="secondName" ngModel name="secondName" class="form-input" placeholder="Enter Last Name" required>
          </div>

          <div class="form-group">
            <label>Gender</label>
            <select name="gender" ngModel required class="form-select">
              <option value="" disabled selected>Select Gender</option>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel-button" (click)="routeToCommunityDescription(communityID, communityName)">Close</button>
          <button type="submit" [ngClass]="{'disabled': personForm.invalid}" [disabled]="personForm.invalid" class="submit-button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<h2>
  <fa-icon *ngIf="!showWarning" [icon]="faCircleArrowLeft"
           [style.color]="'red'"
           [title]="'Return to Community Description'"
           (click)="routeToCommunityDescription(communityID, communityName)"
           [style.cursor]="'pointer'">
  </fa-icon>
  &nbsp;
  Starting Point: <u>{{ name }}</u>
  <br>
  Number of Tree Members: <b>{{ count$ | async }}</b>
</h2>
<div *ngIf="showSuccessfulSave" class="centered-successful-message">Save successful!</div>
<div *ngIf="showWarning" class="centered-warning-message">
  <button type="button" style="color: #03A9F4" (click)="showWarning = false">x</button>
  Tree has not been saved and data will be lost!
  Do you still wish to quit?
  <button type="button" id="exit" class="submit-button" (click)="exit(communityID, communityName)">Exit</button>
</div>
<div id="tree"></div>
