/*.family-tree-balkan {*/
/*  text-align: center;*/
/*  margin: 20px;*/
/*}*/

/*.member {*/
/*  border: 1px solid black;*/
/*  margin: 10px;*/
/*  padding: 10px;*/
/*  display: inline-block;*/
/*}*/

/*form {*/
/*  margin: 10px;*/
/*}*/

.family-tree-container {
  padding: 20px;
}
.tree {
  display: flex;
  justify-content: center;
}
