<form (ngSubmit)="onSubmit()">
  <input [(ngModel)]="member.firstName" name="firstName" placeholder="First Name" required>
  <input [(ngModel)]="member.lastName" name="lastName" placeholder="Last Name" required>
  <select [(ngModel)]="member.gender" name="gender" required>
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>
  <input [(ngModel)]="member.location" name="location" placeholder="Location" required>
  <input [(ngModel)]="member.birthYear" name="birthYear" type="number" placeholder="Birth Year" required>
  <input [(ngModel)]="member.deathYear" name="deathYear" type="number" placeholder="Death Year">
  <button type="submit">Add Member</button>
</form>
