<div class="blue-card-container">
  <div class="card-content">
    <div class="stat">
      <div class="arrow">
        <span style="font-size: xxx-large; width: 50%">+10</span>
        <svg class="blue-arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12 2l8 8h-5v10h-6V10H4z"/>
        </svg>
      </div>
    </div>
  </div>
</div>
<br>
<div class="red-card-container">
  <div class="card-content">
    <div class="stat">
      <div class="arrow">
        <span style="font-size: xxx-large; width: 50%">-10</span>
        <!-- Arrow SVG updated to point downwards -->
        <svg class="red-arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12 22l-8-8h5V4h6v10h5z"/>
        </svg>
      </div>
    </div>
  </div>
</div>
