<button mat-icon-button matDialogClose style="margin: 5px; float: right">
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <header>
    <h1>Add Day</h1>
  </header>
  <form #dayForm="ngForm" (ngSubmit)="saveDay(dayForm)">
    <label>Day Name</label>
    <input #name=ngModel type="text" ngModel name="name" class="form-control" required>
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Name is required
    </div>
    <label>Day Number</label>
    <input type="text" ngModel name="dayNumber" class="form-control" required>
    <label>Day Name</label>
    <input type="text" ngModel name="description" class="form-control">
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button style="background-color: lightgreen; color: darkslategrey">
    Save
  </button>
  <button mat-raised-button color="warn">
    Cancel
  </button>
</mat-dialog-actions>
