<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>People</h2>
          </div>
          <div class="col-sm-6">
            <a *ngIf="isTableShown" class="btn btn-success" (click)="isClicked = true; isTableShown = false">
              <i class="material-icons">&#xE147;</i>
              <span>Add Community</span>
            </a>
<!--            <span *ngIf="isTableShown">-->
<!--              <select (change)="filterPeopleByGender($event)" name="gender"-->
<!--                      class="btn btn-info" style="height: 32.91px;">-->
<!--                <option value="ALL">All</option>-->
<!--                <option value="MALE">Male</option>-->
<!--                <option value="FEMALE">Female</option>-->
<!--              </select>-->
<!--            </span>-->
          </div>
        </div>
      </div>
      <br>
      <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
        <ng-container *ngSwitchCase="DATA_STATE.LOADING">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DATA_STATE.LOADED">
          <div *ngIf="isTableShown">
            <span>
              Number of records:
              <select (change)="onTableSizeChange($event)">
                <option *ngFor="let size of tableSizes">
                  {{ size }}
                </option>
              </select>
            </span>
            <br>
            <br>
            <input
              [(ngModel)]="isMasterSelected"
              type="checkbox"
              (change)="checkUncheckAll()"
              style="cursor: pointer"
            >
            &nbsp;&nbsp;&nbsp;
            <span>Select/Deselect All</span>
            &nbsp;
            @if(hasSelected()) {<button type="button" class="btn btn-danger" (click)="deletePersons(this.checkedPeople)">Delete Selection</button>}
          </div>
          <table *ngIf="isTableShown" class="table table-striped table-hover" id="days">
            <thead>
            <tr>
              <th></th>
              <th *ngFor="let header of headers">{{ header.value }}</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody *ngFor="let person of appState.appData?.data.dataRetrieved
            | paginate: {
              itemsPerPage: tableSize,
              currentPage: currentPage,
              totalItems: count
            }; let i = index;">
            <tr>
              <td>
                <input
                  [(ngModel)]="person.isSelected"
                  type="checkbox"
                  (change)="isAllSelected()"
                  style="cursor: pointer"
                ></td>
<!--              <td><u (click)="routeToPersonDetails(person.id, person.firstName, person.secondName)" style="cursor:pointer;">{{ person.firstName }} {{ person.secondName }}</u></td>-->
              <td>{{ person.raceName }}</td>
              <td>{{ person.gender }}</td>
              <td>
                <!--                <span>-->
                <!--                  <fa-icon [icon]="faEdit"-->
                <!--                           [style.color]="'blue'"-->
                <!--                           [title]="'Edit'"-->
                <!--                           (click)="isUpdated = true; getPersonByID(person.id); isTableShown = false;"-->
                <!--                           [style.cursor]="'pointer'"></fa-icon>-->
                <!--                </span>-->
                &nbsp;
                &nbsp;
                <span>
                  <fa-icon [icon]="faTrash" [title]="'Delete'" (click)="deletePerson(person)"
                           style="cursor: pointer; color: firebrick"></fa-icon>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DATA_STATE.ERROR">
          <div [hidden]="isClicked" style="background-color: indianred">{{ appState.error }}</div>
        </ng-container>
        <pagination-controls
          *ngIf="isTableShown"
          previousLabel="Previous"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </ng-container>
    </div>
  </div>
</div>
