/*@import '../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';*/
.content {
  padding: 24px;
}

mat-toolbar {
  position: relative;
  z-index: 5;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}
